/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  background-image: url("/red.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

.welcome {
  font-size: 3rem;
  text-align: center;
}

.nav_buttons {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  flex-direction: column;
  backdrop-filter: blur(6px);
  top: 50%;
  left: 50%;
  list-style-type: circle;
  box-shadow: -1px 0px 4px 0px black;
  opacity: 0.90;

}
.nav_buttons_two {
    display: flex;
    justify-content: center;
    justify-self: center ;
    flex-direction: column;
    align-items: center;
    background-color: black;
    max-width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

.nav_buttons_three {
    display: flex;
    justify-content: center;
    justify-self: center ;
    flex-direction: column;
    align-items: center;
    background-color: black;
    max-width: 75%;
    margin: auto;
    margin-bottom: 2rem;
}
.direction{
  text-align: right;
}
#login {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  flex-direction: column;
  backdrop-filter: blur(6px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 4rem 2rem;
  list-style-type: circle;
  box-shadow: -1px 0px 4px 0px black;
  opacity: 0.90;
}

.card {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  opacity: .90;
  backdrop-filter: blur(6px);
  box-shadow: -1px 0px 4px 0px black;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  padding: 1rem 4rem 2rem;
  list-style-type: circle;
  width: 450px;
}

.vp-title{
  text-align: center;
}

.have-friends{
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  opacity: .90;
  backdrop-filter: blur(6px);
  box-shadow: -1px 0px 4px 0px black;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  padding: 1rem 4rem 2rem;
  list-style-type: circle;
}

.dashboard_info {
    display: flex;
    justify-content: space-evenly;
    /* background-color: black;
    opacity: .85; */
}

.friends{
  text-align: center;
}

form {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: flex-start;
    }

input {
  font-family: sans-serif;
  width: 200px;
  height: 25px;
  /* padding: 2px 5px; */
  margin: 6px 0 20px 0;
  border: none;
  border-radius: 5px;
}

img {
  max-width: 10%;
}

.movie_display{
  font-size: 8pt;
}

a:link {
  color: CornflowerBlue;
  text-decoration: none;
  cursor: pointer}

a:visited {
  color: CornflowerBlue;}

a:hover {
  color: white;
  text-decoration: underline;}

/* #login-button {
  color: white;
  font-size: 15px;
  margin-top: 20px;
  padding: 4px;
  border-radius: 8px;
  height: 50px;
  background: #b73030;
} */

#login_form {
  width: 323px;
}

/* .footer {
   bottom : 2px;
   height : 40px;
   margin-top : 40px;
   text-align: center;
   vertical-align: middle;
   position:fixed;
   width:100%;
} */

footer{
  bottom: 0;
  position: fixed;
  width: 100%;
}
